@use "../../styles.scss" as *;

.header{
    position: fixed;
    width: 100%;
    padding: 9px 0;
    z-index: 1;
    nav{
        max-width: 1200px;
        margin: 0 auto;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            li{
                margin: auto 0;
                a{
                    text-decoration: none;
                    font-family: NexaBook;
                    font-size: 15px;
                    color: $fifth-color;
                    
                    &:hover,
                    &:active,
                    &:focus{
                        font-weight: bold;
                        transition-property: font-weight;
                        transition-duration: 0.5s;
                    }
                }
            }
            li:last-child{
                a{
                    background-color: $second-color;
                    padding: 15px;
                    border-radius: 15px;
                    color: #FFF;
                    font-weight: bold;
                }
            }
        }
    }


    .logo{
        svg{
        width:200px;
        transition: 0.4s;
        height: auto;
        path {
            fill: $sixth-color ;
            }
        }

        &:hover,
        &:active,
        &:focus{
            svg{
                
                path{
                    fill: revert-layer;
                    transition: 0.5s;   
                }

                .vector-cleaning-letters{
                    fill: $second-color;
                    stroke: $second-color;
                    stroke-width: 5px;
                }
                .vector-services-letters{
                    fill: $fourth-color;
                    stroke: $fourth-color;
                    stroke-width: 5px;
                }
            }
        }
    }
}



.vectors-lastname-letters,
.vector-cleaning-letters,
.vector-services-letters,
.vector-figure{
    fill: white;
}


.list-services{
    visibility: hidden;
    left: 0;
    right: 0;
    top: 17px;
    position: absolute;
    width: 264px;
}

.li-page-services{
 position: relative;
}

.li-page-services:hover{
    .list-services{
       visibility: visible;
    }
}

#masthead.scroll{
     
    border: none;

    background-color: #FFFFFF;
     box-shadow: 0 2px 29px rgba(34, 34, 34, .14);

    .logo{
        svg{
            width: 120px;
            transition: 0.4s;
            path{
                  fill: revert-layer;
                     
            }
        }
    }
}