@use "../../styles.scss" as *;

.header{
    position: fixed;
    width: 100%;
    padding: 9px 0;
    z-index: 2;
    nav{
        max-width: 1170px;
        margin: 0 auto;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            display: flex;
            justify-content: space-between;
            li{
                margin: auto 0;
                a{
                    text-decoration: none;
                    font-family: NexaBook;
                    font-size: 15px;
                    color: $sixth-color;
                    
                    &:hover,
                    &:active,
                    &:focus{
                        font-weight: bold;
                        transition-property: font-weight;
                        transition-duration: 0.5s;
                    }
                }
            }
            li:last-child{
                a{
                    background-color: $second-color;
                    padding: 15px;
                    border-radius: 15px;
                    color: $sixth-color;
                    font-weight: bold;
                    height: fit-content;
                    .icon-phone{
                        margin-right: 3px;
                    }

                    &:hover{
                        background-color: $fourth-color;
                        transition-property: background-color;
                        transition-duration: 0.5s;
                    }
                }
            }
        }
    }


    .logo{
        svg{
        width:200px;
        transition: 0.4s;
        height: auto;
        path {
            fill: $sixth-color ;
            }
        }

        &:hover,
        &:active,
        &:focus{
            svg{
                
                path{
                    fill: revert-layer;
                    transition: 0.5s;   
                }

                .vector-cleaning-letters{
                    fill: $second-color;
                    stroke: $second-color;
                    stroke-width: 5px;
                }
                .vector-services-letters{
                    fill: $fourth-color;
                    stroke: $fourth-color;
                    stroke-width: 5px;
                }
            }
        }
    }
}


.nav-button-page{
    
    border-radius: 30px;
    .mdc-button__label{
        padding: 15px !important;
    }

    
}   

.nav-button-page.active{
    background-color: rgb(76 189 146 / 30%);
    .mdc-button__label{
        padding: 15px !important;
    }
}

.logo{
    background: none !important;    
        .mdc-button__label{
        padding: 0 !important;
    }
}

.vectors-lastname-letters,
.vector-cleaning-letters,
.vector-services-letters,
.vector-figure{
    fill: white;
}


.list-services{
    visibility: hidden;
    left: 0;
    right: 0;
    top: 17px;
    position: absolute;
    width: 264px;
}

.li-page-services{
 position: relative;
}

.li-page-services:hover{
    .list-services{
       visibility: visible;
    }
}

#masthead.scroll{
     
    border: none;

    // background-color: #FFFFFF;
    box-shadow: 0 2px 29px rgba(34, 34, 34, .14);

    background: rgba(255, 255, 255, 0.45);
    backdrop-filter: blur(35px);

    nav{
        ul{
            li{
                a{
                    color:$fifth-color;
                }


                .button-phone{
        color: $sixth-color;
    }
            }
        }
    }

    

    .logo{
        svg{
            width: 120px;
            transition: 0.4s;
            path{
                  fill: revert-layer;
                     
            }
        }
    }
}