@use "../../styles.scss" as *;

.footer a {
  text-decoration: none;
  color: #fff;
}
.footer ul li {
  list-style: none;
  color: #fff;
}

.footer {
  // margin-top: 150px;
  z-index: 1;
  --footer-background: $fourth-color;
  display: grid;
  position: relative;
  grid-area: footer;
  min-height: 12rem;
}
.footer .bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 1rem;
  background: $fourth-color;
  filter: url("#blob");

  background: $fourth-color;

	mix-blend-mode: lighten;
  opacity: 60%;
  width: 85vw;
  @include desktop{
    width: 100%;
  }
}
.footer .bubbles .bubble {
  position: absolute;
  left: var(--position, 50%);
  background: var(--footer-background);
  border-radius: 100%;
  -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
          animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
  transform: translate(-50%, 100%);
  // path{
  //   	mix-blend-mode: lighten;
  // opacity: 60%;
  // }
  
}
.footer .content {
  padding-top: 100px;
  background: $fourth-color;
  z-index: 2;
}
.footer .content .container {
  display: grid;
  align-items: flex-start;
  max-width: 1170px;
  margin: 0 auto;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.5rem;
  color: #fff;
  text-align: center;

  @include desktop{
    text-align: left;
  }
}

.content h2 {
  margin-bottom: .25rem;
  font-size: 2.25rem;
}

.content span {
  font-size: .875rem;
}

.footer__links  {
  display: grid;
  row-gap: 5px;
  width: 100%;
  flex-direction: row;
  column-gap: 2rem;
  transition: all 150ms ease-out;
  justify-content: center;
  margin-top: 10px;
  margin: auto;
  a{
    width: fit-content;
    padding: 15px;
    font-family: NexaBook;
    &:hover,
    &:active{
      font-weight: bold;
      transition: 0.3s;
    }
  }
  @include desktop{
    width: max-content;
    margin: 0;
    margin-top: 10px;
  }
}

// .footer__links .footer__link {
//   transition: all 150ms ease-out;
//   display: inline-block;
// }

// .footer__link:hover:after {
//     width: 100%;
// }

// .footer__link:after {
//     content: '';
//     display: block;
//     margin: auto;
//     height: 2px;
//     width: 0px;
//     background-color: #fff;
//     transition: width .25s ease-out;
// }
.footer__socials {
  justify-self: flex-end;
  width: 100%;

  @include desktop{

  }
}

.footer__social {
  font-size: 1.25rem;
  margin-right: 1.5rem;
}
.footer__social:hover {
  opacity: 0.8;
}

.container-copyright{
 background: #469d7c;
}

.footer__copy {
  display: grid;
  font-family: 'NexaBook';
  text-align: center;
  font-size: .875rem;
  text-align: center;
  color: $sixth-color;
  padding: 30px 15px;
  margin-top: 25px;
  row-gap: 10px;
  .span-copyright{
    text-align: center;

    @include desktop{
      text-align: left;
    }
  }
  .span-policy{
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    column-gap: 10px;
    text-transform: capitalize;
  }
  .span-created-by{
    text-align: center;
    .created_by{
      text-align: right;
      opacity: 0.5;
      &:hover{
        font-weight: bold;
        opacity: 1;
        transition-property: opacity,font-weight;
        transition-duration: 0.3;
      }
    }

    @include desktop{
      text-align: right;
    }
  }
  
  @include desktop{
    grid-template-columns: repeat(3, 1fr);
    row-gap: 0;
    padding: 10px 0;
  }
}

.span-policy{
  a{
    opacity: 0.5;
    &:hover{
      font-weight: bold;
      opacity: 1;
      transition-property: opacity,font-weight;
      transition-duration: 0.3;
    }
  }
}

.title-quick-links,
.title-our-services,
.title-contact-us,
.title-social-media{
  font-family: 'YaroCut-Thin';
  color: $third-color;
  font-size: 30px;
  line-height: 1;
}

.title-social-media{
  margin-top: 20px;
  margin-bottom: 10px;
}
.icon-phone,
.icon-mail,
.icon-instagram{
  font-size: 15px;
}


@-webkit-keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}

@keyframes bubble-size {
  0%, 75% {
    width: var(--size, 4rem);
    height: var(--size, 4rem);
  }
  100% {
    width: 0rem;
    height: 0rem;
  }
}
@-webkit-keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}
@keyframes bubble-move {
  0% {
    bottom: -4rem;
  }
  100% {
    bottom: var(--distance, 10rem);
  }
}

@media screen and (max-width: 767px){
  .footer .content {
    
    padding-top: 47px;
  }
  .footer .content .container {
    grid-template-columns: repeat(2, 1fr);
  }
  
  .content h2 {
    font-size: 1.5rem;
  }

  .content span {
    font-size: .813rem;
  }

  .footer__links  {
    flex-direction: column;
    row-gap: 5px;
  }
  
  .footer__socials {
    justify-self: flex-start;
  }
}

@media screen and (max-width: 567px){
  .footer .content .container {
    grid-template-columns: repeat(1, 1fr);
    row-gap: 3.5rem;
    padding: 0 15px;
  }
}
