/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: 'Gilroy-Bold';
  src: url('/assets/fonts/Gilroy-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NexaBold';
  src: url('/assets/fonts/NexaBold.otf') format('opentype');
}

@font-face {
  font-family: 'NexaBook';
  src: url('/assets/fonts/NexaBook.otf') format('opentype');
}

@font-face {
  font-family: 'NexaHeavy';
  src: url('/assets/fonts/NexaHeavy.otf') format('opentype');
}

@font-face {
  font-family: 'NexaLight';
  src: url('/assets/fonts/NexaLight.otf') format('opentype');
}

@font-face {
  font-family: 'NexaLight';
  src: url('/assets/fonts/NexaLight.otf') format('opentype');
}


@font-face {
  font-family: 'Sequel-Sans';
  src: url('/assets/fonts/sequel-sans-heavy-disp.ttf') format('truetype');
}


body{
  margin: 0;
  // background-image: radial-gradient(circle, #4f8ac8, #4980bb, #4277ae, #3c6da1, #366494);
  background-color: #4f8ac8;
}

.wd-1200px{
  max-width: 1200px;
   margin: 0 auto;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.main{
  min-height: 67vh;
}

.circle{
  height: 99vh;
  width: 71vw;
  background-color: #4BBC91;
  border-radius: 50%;
  position: absolute;
  top: -45vh;
  left: -32vw;
  z-index: -1;
}

